section.archive
	.container
		padding: 60px 80px 40px 80px
		+large-desktop
			padding: 60px 40px 40px 40px
		+tablet
			padding: 40px 30px 30px 30px
		+iphone
			padding: 30px 20px 30px 20px

.archive-header
	display: table
	width: 100%
	padding: 30px 80px
	background-color: #EBEBEB
	+large-desktop
		padding: 30px 40px
	+tablet
		padding: 30px
	+iphone
		padding: 20px

	h1
		font-family: $bebas
		font-weight: bold
		font-size: 3.2em
		letter-spacing: 0
		text-transform: uppercase
		color: #000
		float: left
		margin-bottom: 0
		margin-top: 8px
		+tablet
			font-size: 2.8em
			margin-top: 0
		+iphone
			font-size: 2.4em

	ul
		list-style-type: none
		display: table
		width: 100%
		margin-bottom: 0

		li
			margin-bottom: 0

	nav
		float: right
		+tablet
			float: none
			display: table
			width: 100%

		li
			display: inline-block
			float: left
			border: 2px solid #b6b6b6
			margin-left: 5px
			background-color: #FFF
			+transition(all 0.4s ease-in-out)

			&:first-child
				margin-left: 0

			&:hover
				border: 2px solid darken(#b6b6b6, 20%)
				a
					color: darken(#b6b6b6, 20%)

			&.active
				border: 2px solid #b6b6b6
				background-color: #b6b6b6
				cursor: default
				a
					color: #FFF

			&.active:hover
				background-color: darken(#b6b6b6, 20%)
				border: 2px solid darken(#b6b6b6, 20%)

			a
				display: block
				padding: 20px 30px
				color: #b6b6b6
				font-family: $bebas
				font-weight: bold
				font-size: 2em
				line-height: 1
				+tablet
					font-size: 1.5em
					padding: 15px 25px
				+iphone
					font-size: 1em
					padding: 10px 15px

	.search-box
		border: 2px solid #b6b6b6
		margin-left: 25px
		background-color: #FFF
		+tablet
			margin-left: 0
			margin-bottom: 20px

		form
			margin: 0

		input
			border: 0
			margin: 0
			float: left

		input[type="text"]
			color: #b6b6b6
			font-family: $bebas
			font-weight: bold
			font-size: 2em
			letter-spacing: 0.5px
			padding: 17px 25px
			height: auto
			width: 200px
			+tablet
				padding: 12px 20px
			+iphone
				font-size: 1.35em

		#searchsubmit
			width: 70px
			height: 70px
			display: block
			background-color: #FFF
			float: right
			text-indent: -9999px
			position: relative
			padding: 0
			background-image: url('assets/img/icon-search.jpg')
			background-position: center
			background-repeat: no-repeat
			background-size: auto
			+tablet
				width: 60px
				height: 60px
			+iphone
				width: 48px
				height: 48px

			&:hover
				opacity: 0.8


//articles-list
ul.articles-list

	li
		display: block
		width: 25%
		height: 600px
		float: left
		padding: 0 6px 12px 6px
		+large-desktop
			width: 33.333%
		+tablet
			width: 50%
		+mobile
			width: 100%
			padding-bottom: 20px
			height: auto
			&:last-child
				padding-bottom: 0

		a
			display: block
			width: 100%
			height: 100%
			background-color: #e6e6e6

			&:hover
				background-color: darken(#e6e6e6, 5%)
				.read-more
					color: #DF003C
				.wrap .color-overlay
					opacity: 0

		&:nth-child(4n+1)
			padding-left: 0
			+large-desktop
				padding-left: 6px

		&:nth-child(4n+4)
			padding-right: 0
			+large-desktop
				padding-right: 6px

		&:nth-child(3n+1)
			+large-desktop
				padding-left: 0
			+tablet
				padding-left: 6px

		&:nth-child(3n+3)
			+large-desktop
				padding-right: 0
			+tablet
				padding-right: 6px

		&:nth-child(odd)
			+tablet
				padding-left: 0
			+mobile
				padding-right: 0

		&:nth-child(even)
			+tablet
				padding-right: 0
			+mobile
				padding-left: 0

.tax-galleries ul.articles-list li
	height: auto

	.wrap
		height: 300px

	.text-wrap
		height: auto


//pagination
.pagination
	display: table
	width: 100%
	margin-top: 35px
	margin-bottom: 5px
	+tablet
		margin-top: 30px
		margin-bottom: 0

	.nav-previous,
	.nav-next
		width: 50%
		display: table-cell
		color: #000

		a
			font-size: 25px
			font-family: $bebas
			font-weight: bold
			text-transform: uppercase
			padding: 20px 35px
			display: block
			background-color: #EFEFEF
			+tablet
				padding: 20px 30px
			+iphone
				font-size: 20px

			&:hover
				background-color: darken(#e6e6e6, 5%)


	.nav-next
		text-align: right